.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}
.Order p {
    display: flex;
    flex-flow: column;
}

@media only screen and (min-width: 500px) {
    .Order p {
        flex-flow: row;
    }
}
